@use "@assets/styles/global" as *;

.header-nav {
	&__list {
		display: flex;
		gap: $gap;

		@include mq(md) {
			padding: 0 4px 4px;
			background-color: $color-black;
		}

		&-item {
			&.-link {
				@include mq(md) {
					width: 100%;
				}
			}
		}
	}
	&__link {
		display: flex;
		background-color: $color-gray;
		border-radius: $radius;
		font-size: rem(16);
		text-decoration: none;
		height: var(--height-block);
		align-items: center;
		justify-content: center;
		padding-right: 40px;
		padding-left: 40px;

		@include mq(md) {
			padding-right: 0;
			padding-left: 0;
			width: 100%;
		}

		&-icon {
			display: flex;
			justify-content: center;
			align-items: center;
			background-color: $color-gray;
			color: $color-black;
			border-radius: $radius;
			width: var(--height-block);
			height: var(--height-block);
		}
	}
}
