@use "@assets/styles/global" as *;

.header-logo {
	&__link {
		display: flex;
		background-color: $color-gray;
		border-radius: $radius;
		font-size: rem(18);
		text-decoration: none;
		height: var(--height-block);
		align-items: center;
		padding-right: 40px;
		padding-left: 40px;
	}
}
