---
import BlogLayout from "../../layouts/BlogLayout.astro";
import { getAllPosts } from "../../utils/api.js";
import BlockArticle from "../../components/BlockArticle.astro";

export async function getStaticPaths({ paginate }) {
	const allPosts = await getAllPosts();
	return paginate(allPosts, {
      pageSize: 10
    });
}
const { page } = Astro.props;
---
<BlogLayout title="BLOG | kisjam.com">
	<section class="container-block">
		<h2 class="title-block-h1"><span class="title-block-h1__inner">BLOG</span></h2>

		{ page.data.map( post => <BlockArticle post={post} /> ) }

		<div class="block-pagination">
			{page.url.prev ? <p class="block-pagination__prev"><a href={page.url.prev} class="block-pagination__link">Prev</a></p> : null}
			{page.url.next ? <p class="block-pagination__next"><a href={page.url.next} class="block-pagination__link">Next</a></p> : null}
		</div>
	</section>
</BlogLayout>
