---
import BlogLayout from "../../layouts/BlogLayout.astro";
import { getCollection, render } from "astro:content";
import { formatDate, isSameDay } from '../../utils/date.ts';

export async function getStaticPaths() {
	const posts = await getCollection("blog");
	return posts.map((post) => ({
		params: { slug: post.data.slug },
		props: { post },
	}));
}

const { post } = Astro.props;
const { title, emoji, date, modified, categories, tags } = post.data;
const { Content } = await render(post);
---
<BlogLayout title={title + ' | kisjam.com'}>
	<div class="container-block">
	<article class="block-single">
		<figure class="block-single__emoji">{ emoji }</figure>
		<div class="block-single__body">
			<div class="block-single__title">
				<h1 class="title-h1">{ title }</h1>
			</div>
			<div class="block-single__date">
				<dl class="article-date">
					<dt class="article-date__published">公開日</dt>
					<dd class="article-date__date">{ formatDate(date) }</dd>
					{
						!isSameDay(date, modified) &&
						(
							<dt class="article-date__updated">最終更新日</dt>
							<dd class="article-date__date">{ formatDate(modified) }</dd>
						)
					}
				</dl>
			</div>

			{categories.length > 0 && (
				<div class="block-single__category">
					<ul class="article-category">
						{ categories.map( (category) => (
							<li class="article-category__item"><a href={`/blog/category/${category.slug}/`}>{ category.name }</a></li>
						))}
					</ul>
				</div>
			)}

			{tags.length > 0 && (
				<div class="block-single__tag">
					<ul class="article-tag">
						{ tags.map( (tag) => (
							<li class="article-tag__item"><a href={`/blog/tag/${tag.slug}/`}>{ tag.name }</a></li>
						))}
					</ul>
				</div>
			)}
			<div class="block-single__content">
				<div class="article-content"><Content /></div>
			</div>
		</div>
	</article>
	<div class="block-pagination">
			<p class="block-pagination__next"><a href="../" class="block-pagination__link">ブログ記事一覧に戻る</a></p>
		</div>
		</div>
</BlogLayout>
