@use "@assets/styles/global" as *;

.site-main {
	display: grid;
	gap: $gap;
	padding-right: $gap;
	padding-left: $gap;

	@include mq(md, true) {
		grid-template-columns: auto 640px auto;
	}

	@include mq(md) {
		grid-template-columns: 1fr;
	}

	// 左右の装飾パネル（擬似要素だと輪郭FXの矩形が取れないため実要素）
	&__side {
		background-color: $color-gray;
		border-radius: $radius;

		@include mq(md) {
			display: none;
		}
	}
	&__inner {
		display: grid;
		gap: $gap;
		min-width: 0;
		align-content: start;
		background-color: $color-gray;
	}
}
