@use "@assets/styles/global" as *;

.site-footer {
	padding: $gap;
	background-color: $color-black;

	&__inner {
		background-color: $color-gray;
		color: $color-accent;
		border-radius: $radius;
		// ヘッダーと同じ高さに揃える
		min-height: var(--height-block);
		padding: 0 32px;
		display: flex;
		align-items: center;
		justify-content: flex-end;
		gap: 24px;
	}

	&__copyright {
		text-align: right;
	}
}
