@use "@assets/styles/global" as *;

.site-main {
	display: grid;
	gap: $gap;
	padding-right: $gap;
	padding-left: $gap;

	@include mq(md, true) {
		grid-template-columns: auto 640px auto;
	}

	@include mq(md) {
		grid-template-columns: 1fr;
	}

	&::before,
	&::after {
		content: "";
		background-color: $color-gray;
		border-radius: $radius;

		@include mq(md) {
			content: none;
		}
	}
	&__inner {
		display: grid;
		gap: $gap;
	}
}
