$base-font-size: 16;

$ff-noto-sans: 'Noto Sans JP', system-ui, sans-serif;

$fw-thin: 100;
$fw-light: 300;
$fw-regular: 400;
$fw-medium: 500;
$fw-semibold: 600;
$fw-bold: 700;
$fw-black: 900;

$color-black: #111;
$color-white: #fff;
$color-gray: #eef2f7;
$color-accent: #1466ff;

$block-fill: $color-gray;

$breakpoints: (
	xl: 1280px,
	lg: 1024px,
	md: 768px,
	sm: 656px,
);

$width-content: 640px;
$gap: 0;
$radius: 0;
