@use "@assets/styles/global/variables" as variables;

@mixin hover {
	@media (any-hover: hover) {
		&:hover {
			@content;
		}
	}
}

@mixin mq($point, $min: false) {
	@if (type-of($point) ==list) {
		$bp1: "";
		$bp2: "";

		@if (map-get(variables.$breakpoints, nth($point, 1))) {
			$bp1: map-get(variables.$breakpoints, nth($point, 1)) + 1;
		} @else {
			$bp1: nth($point, 1);
		}

		@if (map-get(variables.$breakpoints, nth($point, 2))) {
			$bp2: map-get(variables.$breakpoints, nth($point, 2));
		} @else {
			$bp2: nth($point, 2);
		}

		@media screen and (min-width: $bp1) and (max-width: $bp2) {
			@content;
		}
	} @else if ($min) {
		@if (map-get(variables.$breakpoints, $point)) {
			@media screen and (min-width: (map-get(variables.$breakpoints, $point)+1)) {
				@content;
			}
		} @else {
			@media screen and (min-width: $point) {
				@content;
			}
		}
	} @else {
		@if (map-get(variables.$breakpoints, $point)) {
			@media screen and (max-width: map-get(variables.$breakpoints, $point)) {
				@content;
			}
		} @else {
			@media screen and (max-width: $point) {
				@content;
			}
		}
	}
}
