@use "@assets/styles/global" as *;

.article-category {
	display: flex;
	flex-wrap: wrap;
	gap: 8px;

	&__item {
		// color: rgba($color-black, 0.5);
		// border: 1px solid rgba($color-black, 0.5);
		padding: 2px 8px;
		background-color: $color-white;
		color: $color-accent;
		border-radius: $radius;
		font-size: rem(14);

		a {
			display: block;
			margin: -2px -8px;
			padding: 2px 8px;
			background-color: $color-white;
			color: $color-accent;
			text-decoration: none;

			@include hover {
				background-color: $color-accent;
				color: $color-white;
			}
		}
	}
}
