---
import type { GetStaticPaths } from "astro";
import DefaultLayout from "../layouts/DefaultLayout.astro";
import { getAllPosts } from "../utils/api";

const allPosts = await getAllPosts();

// 年月別アーカイブ向けの配列を作成する


// params: yearとmonthにわたす


---

<DefaultLayout>
  <div class="mv"></div>
</DefaultLayout>
