---
import DefaultLayout from "../layouts/DefaultLayout.astro";
import Sketch from "../components/Sketch.astro";
import { getLatestPosts } from "../utils/api.js";
import { Debug } from 'astro/components';
import BlockArticle from "src/components/BlockArticle.astro";

const { posts } = await getLatestPosts();

---

<DefaultLayout>
	<Sketch />
	<section class="container-block">
		<!-- <h2 class="title-block-h2"><a href="/about/" class="title-block-h2__link">ABOUT</a></h2> -->


		<div class="block-box">
			<div class="block-box__inner">
				<h2 class="title-h2">ABOUT</h2>
				<p class="text">Hello, I am Akihiro Takaoka, a freelance front-end engineer.</p>
				<p class="text">HTML / CSS / JavaScript / Vue / WordPress / Astro</p>
			</div>
		</div>
	</section>
	<section class="container-block">
		<h2 class="title-block-h2"><a href="/blog/" class="title-block-h2__link">BLOG</a></h2>
		{ posts.nodes.map( post => <BlockArticle post={post} /> ) }
	</section>
	<section class="container-block">
		<!-- <h2 class="title-block-h2"><span class="title-block-h2__inner"></span></h2> -->
		<div class="block-box">
			<div class="block-box__inner">
				<h2 class="title-h2">CONTACT</h2>
				<p class="text">仕事のご依頼・相談は下記メールアドレスまでお気軽に連絡ください。</p>
				<p class="button-text"><a href="mailto:hello@kisjam.com" class="button-text__link">hello@kisjam.com</a></p>
			</div>
		</div>
	</section>
</DefaultLayout>
