---
const res = await fetch("https://kisjam.com/blog/wp-json/wp/v2/posts")
const posts = await res.json()
console.log(posts[0].title.rendered);
---
<html lang="ja">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="format-detection" content="telephone=no">
	<meta name="keywords" content="">
	<meta name="description" content="">
	<meta property="og:title" content="">
	<meta property="og:description" content="">
	<meta property="og:image" content="">
	<meta property="og:type" content="">
	<meta property="og:url" content="">
	<meta property="og:locate" content="ja_JP">
	<meta property="og:site_name" content="">
    <title>kisjam.com</title>
</head>
<body>
    <h1>Welcome to Astro!</h1>
	{
		posts.map((post) => (
			<li set:html={post.title.rendered} />
		))
	}
</body>
</html>