@use "@assets/styles/global" as *;

@mixin title-h3 {
	&:not(:first-child) {
		margin-top: 60px;
	}
	margin-bottom: 16px;

	&::before {
		content: "###";
		margin-right: 8px;
	}
}

.title-h3 {
	@include title-h3;
}
