---
---
<header class="site-header">
	<h1>
		<a href="/">
			<span><img src="/assets/images/common/logo.svg" alt="" width="60" height="60"></span>
			<span>kisjam.com</span>
		</a>
	</h1>
	<nav>
		<ul>
			<li><a href="/about/">About</a></li>
			<li><a href="/blog/">Blog</a></li>
			<li><a href="/contact/">Contact</a></li>
		</ul>
	</nav>
</header>
