/* -------------------------------------------------------------------------

		util.sass

------------------------------------------------------------------------- */


/*

how to use

@include mq(tablet) {
	width: 100%;
}

@include mq(sp tablet) {
	width: 50%;
}
↓
@media screen and (min-width: 680px) and (max-width: 959px) {
  .example {
		width: 50%;
  }
}

@include mq(tablet, true) {
	height: 100px;
}
↓
@media screen and (min-width: 960px) {
  .example {
    height: 100px;
  }
}
------------------------------------------------- */
@mixin mq($point, $min:false) {
	@if( type-of($point) == list ){
		@media screen and (min-width: map-get($breakpoints, nth($point,1))+1) and (max-width: map-get($breakpoints, nth($point,2))) { @content; }
	}@else if($min){
		@media screen and (min-width: map-get($breakpoints, $point)+1) { @content; }
	}@else{
		@media screen and (max-width: map-get($breakpoints, $point)) { @content; }
	}
}


/* float clear
------------------------------------------------- */

/*for modern browser*/
.clear_fix:after{
    content:".";
    display:block;
    height:0;
    clear:both;
	font-size:0;
    line-height:0;
    visibility:hidden;
}
