/* -------------------------------------------------------------------------

		vars.scss

------------------------------------------------------------------------- */


/* width
------------------------------------------------- */

$width_site : 1140px;
$width_section : 700px;

/* brakepoints
------------------------------------------------- */

$breakpoints:(
	liquid: 1200px,
	tablet: 992px,
	sp: 768px
);


/* color
------------------------------------------------- */

$color_base : #ffffff;
$color_main : #313e53;

/* $color_sub : ; */
$color_accent : #0295e2;
$color_line : #dddddd;


/* text color
------------------------------------------------- */
$color_text : #222;
$color_link : #222;
$color_link_visited : #222;
$color_link_hover : #999;
$color_link_active : #55D6BE;
