---
import Head from '../components/Head.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
---

<html lang="ja">
	<head>
		<Head />
	</head>
	<body>
		<div class="site-container">
			<Header />
			<main class="site-main">
				<slot />
			</main>
			<Footer />
		</div>
	</body>
</html>
