---
import Head from '../components/Head.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import Icon from '../components/Icon.astro';
---

<html lang="ja">
	<head>
		<Head />
	</head>
	<body>
		<Icon />
		<div class="site-container">
			<Header />
			<main class="site-main">
				<div class="site-main__inner">
					<slot />
				</div>
			</main>
			<Footer />
		</div>
	</body>
</html>
