---
import Head from '../components/Head.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import Icon from '../components/Icon.astro';
import GtmHead from '../components/GtmHead.astro';
import GtmBody from '../components/GtmBody.astro';

const {title} = Astro.props
---

<html lang="ja">
	<head>
		<GtmHead />
		<Head title={title}>
	</head>
	<body>
		<GtmBody />
		<Icon />
		<div class="site-container">
			<Header />
			<main class="site-main">
				<div class="site-main__inner">
					<slot />
				</div>
			</main>
			<Footer />
		</div>
	</body>
</html>
